# Libraries required for Virtual Environment Setup
# Python version: 3.12
# Confirmed working on Ubuntu 24.04 via WSL2

# SETUP INSTRUCTIONS
# run the following command to create a virtual environment:
# python3 -m venv venv
# Activate the virtual environment:
# source venv/bin/activate
# Install the required libraries:
# pip install -r requirements.txt


# Core Libraries
numpy
pandas
scipy
openpyxl

# Machine Learning
scikit-learn
catboost


# Data Visualization
matplotlib
shap

#Jupyter and IPython
jupyter
jupyterlab
ipykernel

#Local Server
fastapi
uvicorn
